/* Styles for the content inside TrailSign */
.trail-sign-content ul {
   list-style-type: disc;
   padding-left: 20px;
   margin-left: 20px;
   padding-top: 16px;
   padding-bottom: 16px;
}

.trail-sign-content li {
   padding: 3px 0;
   font-size: 20px;
   @apply font-europa-light;
}

.trail-sign-content p.quote {
   @apply p-2;
   @apply font-europa-medium-ita;
   font-size: 28px;
}
.trail-sign-content p.price {
   text-align: right;
   margin-top: 15px;
   margin-bottom: 0;
   padding-right: 16px;
   padding-bottom: 16px;
}

/* Remove bullet from any p tag that might be inside the ul */
.trail-sign-content ul p {
   list-style-type: none;
}
